<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%if current_user.is_admin?%>
    <%= f.text_field :name %>
    <%else%>
        <%= f.text_field :name ,disabled:true%>
    <%end%>
  </div>
  <!-- <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div> -->
  <!-- <%= f.text_field :user_id,value:@user %>-->
  <%= f.hidden_field :project_id,:value=>"#{@project.id}" %> 
  <!-- <%= f.hidden_field :project_user_id ,value:@project%> -->
  <!-- <div class="field">
    <%= f.label :project_id %><br>
    
  </div> -->
  <%dropdown_options = {"progress" => "Progress", "pending" => "Pending", "done" => "Done"}%>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.collection_select :status, dropdown_options, :first, :last %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= link_to 'Back', tasks_path(:id=>@task.project_id) %>
  </div>
<% end %>
