<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<!-- <p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p>

<p>
  <strong>Project user:</strong>
  <%= @task.project_user_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @task.project_id %>
</p> -->

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path(id:@task.project_id) %>
